{% extends "format.html" %}

{% block title %}
    Login
{% endblock %}

{% block main %}
<div class="reg">
    {% if fail == True %}<!--Checks if success parameter is True. If true it shows registered-->
        <p id="failure" style="color: red;font-size:25px;">Incorrect Email and Password!</p>
    {% endif %}
    <form action="/login" method="post">
        <img src="/static/assets/login_img.png" height="250px" width="230px" alt="user_icon" style="display: block;margin: 0 auto;">
        <input type="email" id="mail" name="user_email" required autocomplete="off" placeholder="Email">
        <input type="password" id="pw" name="user_pw" required autocomplete="off" placeholder="Password" pattern='^(?=.*?[A-Z])(?=.*?[a-z])(?=.*?[0-9])(?=.*?[#?!@$%^&*-]).{8,}$'>
        <button type="submit" id="submit">Login</button>
    </form>
</div>
{% endblock %}